body {
  background-color: #a462a1;}
 * {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #eee7e7fc;
    transition: 0.4s;
  }
  
  a:hover {
    color: #d2b0eb;
  }
  
  /* Navbar */
  #navbar {
    padding: 1rem;
    border: 2px solid #080008;
    display: flex;
    
  }
  

  .description{
    text-decoration:none;
    color: #eee7e7fc;
    font-size:large;
  } 

   #legenda{
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  margin-left: 20rem

    }



  
  /* conteúdo principal */
  .container {
    display: flex;
    padding: 2rem 2.5rem;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #posts-container {
    flex: 3 1 0;
  }
  
  .post {
    margin-bottom: 2.5rem;
  }
  
  .post img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .title,
  .description,
  .author {
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .author {
    color: #0e0d0d;
    font-weight: bold;
  }
  
  /* barra lateral */
  #sidebar {
    flex: 1 1 0;
  }
  
  #search-bar,
  #gallery,
  #tags,
  #contact {
    padding: 1.5rem;
    border: 1px solid #000000;
    margin-bottom: 1rem;
  }
  
  #search-bar h4,
  #gallery h4,
  #tags h4,
  #contact h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }
  
  #search-bar form {
    display: flex;
  }
  
  #search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #572a55;
  }
  
  #search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #572a55;
    color: #fff;
    border: none;
  }
  
  #gallery li {
    margin-bottom: 1rem;
  }

  #contact li{
    margin-bottom: 1rem;
  }

  
  #tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  #tags-container a {
    background-color: #572a55;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
  }
  
  /* Rodapé */
  #footer {
    border-top: 2px solid #011500;
    padding: 3rem;
    text-align: center;
  }
  
  #footer h2,
  #footer p {
    margin-bottom: 1rem;
  }
  
 
  @media (max-width: 450px) {
    .container {
      flex-wrap: wrap;
    }
  }